<%- include('partials/header', { user: isLoggedIn }) -%>
<%- include('partials/navbar', { user: isLoggedIn, name: username }) -%>

<script>  
  async function likePost(id) { 
    if('<%= isLoggedIn%>' ==="false") {
      alert("please Log In");
    } else {
      try {
        const response = await fetch(`/posts/${id}/like`, {
          method:"POST",
          headers: {
            'Content-Type': 'application/json'
          }
        });
        
        if (!response.ok) {
          throw new Error(`Failed to like post ${response}`);
        }

        const contentType = response.headers.get('content-type');
      
        if (contentType && contentType.includes('application/json')) {
          const data = await response.json();
          document.getElementById(`likes-count-${id}`).textContent = data.likes;
     
        } else { 
          console.warn('Response is not JSON', response); 
        }
      } catch (error) {
        console.error('Error liking post:', error);
      }
    }
  }

  async function deletePost(id) {
    console.log("clicked") 
      try {
        await fetch(`/posts/${id}/delete`, {
          method:"POST",
          headers: {
            'Content-Type': 'application/json'
          }
        });
        location.reload();
      } catch (error) {
        console.error('Error liking post:', error);
      }
    }
</script>

<div class="box"> 

  <% if (posts) { %>
  <% posts.forEach(post => { %>
  <div class="card">
    <div class="card-body"> 
        <h4 class="cardTitle"><%= post.title%></h4>
        <h6 class="card-subtitle mb-4 text-body-secondary"><%= post.author%></h6>
        <p class="card-text"><%= post.post.substring(0,150)%></p>
        <div>
          <a href="/posts/<%= post._id%>" class="card-link" style="text-decoration: none; color: rgb(192, 162, 162)">Read More</a>
          <% { if(isLoggedIn && username && (username.toString() === post.author.toString())) { %>
            <button 
              class="deletebtn"
              id="like-button-<%= post._id %>" 
              onclick="deletePost('<%= post._id %>')">
              Delete Post
            </button> 
          <% } else { %>
            <div></div>
          <% }} %>
          <div class="like-box">
            <button 
              class="heart" 
              id="like-button-<%= post._id %>" 
              onclick="likePost('<%= post._id %>')">
              &#9829;
            </button> 
            <p id="likes-count-<%= post._id %>"><%= post.likes %></p>
          </div>
        </div>
    </div> 
  </div>   
  <%});%>
  <% } else { %>
    <p>Post content is not available.</p>
  <% } %>
      
</div>

<%- include('partials/footer') -%> 