<%- include('partials/header') -%>
 

<div class="postBox">
      <h2><%= title%></h2>
      <h6 style="font-size: medium;"><%= post%></h6>
      <h6>Written By <%= author%></h6>
</div>   

<div style="position: fixed; bottom: 0; width: 100%;">
  <%- include('partials/footer') %>
</div>
